*.aux
*.log
*.gz
*.toc
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.lof
*.lot
*.nav
*.snm
*.vrb
*.bkp
.*.bkp
.idea/
*.iml
.venv/
__pycache__/
*.pyc
*.sh
cmake-build-debug/
code/out/unit
results.txt
-p
*.synctex